@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

* {
    font-family: 'Bricolage Grotesque', sans-serif;
    box-sizing: border-box;
}

html {
    @apply bg-slate-50 !important;
    -webkit-overflow-scrolling: touch !important;
    overscroll-behavior-y: none !important;
  }

  /* Theme variables */

  .theme-default {
    --color-theme-white: #fff;
    --color-theme-button: #0755b1;
    --color-theme-button-hover: #0e67d6;
    --color-theme-button-disabled: #d1d7d8;
    --color-theme-textarea-bg: #F8F9FA;
    --color-theme-container-gradient: linear-gradient(0deg, rgba(228, 233, 234, 1) 65%, rgba(255,255,255,1) 100%);
    --color-theme-overlays-gradient: linear-gradient(0deg, rgba(41, 40, 40, 0.85) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(1, 1, 1, 0.59) 100%);
    --theme-font: 'Overpass', sans-serif;
}

.theme-brio {
    --color-theme: #012038;
    --color-theme-light: #0755b1;
    --color-theme-white: #fff;
    --color-theme-accent: #0755b1;
  
    --color-theme-button: #0755b1;
    --color-theme-button-hover: #0e67d6;
    --color-theme-button-disabled: #d1d7d8;
    --color-theme-textarea-bg: #F8F9FA;
  
    --color-theme-container-gradient: linear-gradient(0deg, rgba(228, 233, 234, 1) 65%, rgba(255,255,255,1) 100%);
    --color-theme-overlays-gradient: linear-gradient(0deg, rgba(41, 40, 40, 0.85) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(1, 1, 1, 0.59) 100%);
    --theme-font: 'Overpass', sans-serif;
}

.theme-ul-yellow {
    --color-theme: #ffc103;
    --color-theme-light: #ffc103;
    --color-theme-white: #fff;
    --color-theme-accent: #ffc103;
  
    --color-theme-button: #ffc103;
    --color-theme-button-hover: #eeb302;
    --color-theme-button-disabled: #d1d7d8;
    --color-theme-textarea-bg: #F8F9FA;
  
    --color-theme-container-gradient: linear-gradient(0deg, rgba(228, 233, 234, 1) 65%, rgba(255,255,255,1) 100%);
    --color-theme-overlays-gradient: linear-gradient(0deg, rgba(41, 40, 40, 0.85) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(1, 1, 1, 0.59) 100%);
    --theme-font: 'Overpass', sans-serif;
}

.theme-ul-red {
    --color-theme: #e30513;
    --color-theme-light: #e30513;
    --color-theme-white: #fff;
  
    --color-theme-button: #e30513;
    --color-theme-button-hover: #c40612;
    --color-theme-button-disabled: #d1d7d8;
    --color-theme-textarea-bg: #F8F9FA;
  
    --color-theme-container-gradient: linear-gradient(0deg, rgba(228, 233, 234, 1) 65%, rgba(255,255,255,1) 100%);
    --color-theme-overlays-gradient: linear-gradient(0deg, rgba(41, 40, 40, 0.85) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(1, 1, 1, 0.59) 100%);
    --theme-font: 'Overpass', sans-serif;
}

/* Form overrides */

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .form-control {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

/* Quill editor overrides */

.ql-container {
    height: calc(100% - 42px);
  }

.quill-container {
  position: relative;
  height: 100%;
  margin: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}

.ql-container.ql-snow {
    border: 0px solid #ccc !important;
}

.ql-toolbar.ql-snow {
    border-top: 0px solid #ccc !important;
    border-right: 0px solid #ccc !important;
    border-left: 0px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 16px !important;

}

.ql-editor {
    gap: 0px !important;
    font-size: larger;
    font-weight: 300;
    max-height: 276px;
}


/* Browser mockup */

.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0px -1px 12px 1px rgba(0,0,0,0.10);
    position: relative;
    border-radius: 6px 6px 0 0;
    padding: 2rem;
    background-color: white;
  }
  
  .browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }
      
  .browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -2em;
    left: 5.5em;
    width: 20%;
    height: 0em;
    border-bottom: 2em solid white;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
  }
  
  .browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: ' https://www.lms.com/sites/fboxlto895/modules/fboxlto895-fln...';
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
    top: -2.8em;
    left: 11.5em;
    width: calc(100% - 17em);
    height: 2.2em;
    border-radius: 2px;
    background-color: white;
  
    /* Truncate text with ellipsis */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .browser-mockup > * {
    display: block;
  }

  .transparent {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(4px);
    opacity: 1;
  }

    /* Disable text selection */
    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
    }